params.fastq     = "$PWD/fastq_pass"
params.fast5     = "$PWD/fast5_pass"
params.reference = "$PWD/reference/ref.fa"
params.config    = "$PWD/reference/repeat_config.tsv"
params.outdir    = "./results"

docker.enabled   = true

profiles {
    test {
        params.fastq     = "$projectDir/fastq_pass"
        params.fast5     = "$projectDir/fast5_pass"
        params.reference = "$projectDir/reference/ref.fa"
        params.config    = "$projectDir/reference/repeat_config.tsv"
        params.outdir    = "./results"
    }
}

